/*.custom_slider {*/
/*    -webkit-appearance: none;*/
/*    width: 100%;*/
/*    height: 20px;*/
/*    border-radius: 10px;*/
/*    background-color: #d3d3d3;*/
/*    outline: none;*/
/*    opacity: 0.7;*/
/*    -webkit-transition: .2s;*/
/*    transition: opacity .2s;*/
/*    pointer-events: none; !*prevents changing slider values via clicking*!*/
/*}*/

/*.custom_slider:hover {*/
/*    opacity: 1;*/
/*}*/

/*.custom_slider:focus {*/
/*    outline: none;*/
/*}*/

/*.custom_slider::-webkit-slider-thumb {*/
/*    -webkit-appearance: none;*/
/*    appearance: none;*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    background-color: black;*/
/*    cursor: pointer;*/
/*    pointer-events: auto; !*enabling changing slider values via slider dragging*!*/
/*}*/

/*.custom_slider::-moz-range-thumb {*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    background-color: black;*/
/*    cursor: pointer;*/
/*    pointer-events: auto; !*enabling changing slider values via slider dragging*!*/
/*}*/


/*.custom_slider::-ms-thumb {*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    background-color: black;*/
/*    cursor: pointer;*/
/*    pointer-events: auto; !*enabling changing slider valiues via slider dragging*!*/
/*}*/

/*Updated Slider CSS that works on "every" browser. Loses some prettifiers but works in edge*/

.custom_slider {
    -webkit-appearance: none;
    width: 100%;
}

.custom_slider:focus {
    outline: none;
}


.custom_slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 20px;
    border-radius: 10px;
    background-color: #d3d3d3;
    outline: none;
    pointer-events: none; /*prevents changing slider valiues via clicking*/
}

.custom_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: black;
    cursor: pointer;
    pointer-events: auto; /*enabling changing slider values via slider dragging*/
}


.custom_slider::-moz-range-track {
    width: 100%;
    height: 20px;
    border-radius: 10px;
    background-color: #d3d3d3;
    outline: none;
    pointer-events: none; /*prevents changing slider valiues via clicking*/
}

.custom_slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: black;
    cursor: pointer;
    pointer-events: auto; /*enabling changing slider values via slider dragging*/
}


.custom_slider::-ms-track {
    width: 100%;
    height: 20px;
    cursor: pointer;
    pointer-events: none; /*prevents changing slider valiues via clicking*/
    background: transparent;
    border-color: transparent;
    color: transparent;
}

.custom_slider::-ms-fill-lower {
    background-color: #d3d3d3;
    border-radius: 20px;
}

.custom_slider::-ms-fill-upper {
    background-color: #d3d3d3;
    border-radius: 20px;
}

.custom_slider::-ms-thumb {
    width: 20px;
    height: 20px;
    background-color: black;
    cursor: pointer;
    pointer-events: auto; /*enabling changing slider values via slider dragging*/
}
